@media screen and (max-width:768px) {
  header nav:first-child{
    display: none;
  }
  section{
    padding: 50px 0;
  }
  .postheader .col-xs-10{
    margin-top: 10px;
  }
  .contact input, .contact button{
    width: 150px;
  }
  .icons li img{
    height: 70px;
    padding: 0;
  }
  ul{
    padding: 0;
  }
}


@media screen and (min-width:768px) and (max-width:992px) {
  header nav:first-child{
    display: none;
  }
  .postheader{
    padding: 90px 0;
  }
  section{
    padding: 50px 0;
  }
  .contact input, .contact button{
    width: 200px;
  }
  .icons li img{
    height: 60px;
    padding: 0;
  }
  [class^="col-"]{
    margin: 0 auto;
  }
}

@media screen and (min-width:1200px) {
  section{
   padding: 80px 0;
 }
 .fnt16{
   font-size: 16px;
 }
 .centervert{
   position: relative;
   top: 100px;
   transform: translateY(-50%);
 }
 [class^="col-"]{
   padding: 0;
   margin: 0;
 }
 .postheader{
   position: relative;
   top: 100px;
   left: 0;
 }
 .contact input, .contact button{
   width: 250px;
 }
 .icons li img{
   height: 60px;
   padding: 0 30px;
 }
}


.white{
  background-color: white;
}
.blue{
  background-color: #031b4e;
}
.grey{
  background-color: #cecece;
}
.azure{
  background-image: url("sfondo.jpg");
  background-size: cover;
}
.textwhite{
  color: white;
}
.textblue{
  color: #031b4e;
}
.textgrey{
  color: grey;
}
.textcenter{
  text-align: center;
}
.textright{
  text-align: right;
}
.textazure{
  color: #81ecec;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.bold{
  font-weight: bold;
}


/* header */
.navbar-brand span{
  background-color:#00d7d2;
  color: #0069ff;
  padding: 2px;
  border-radius: 5px;
  margin-right: 5px;
}
.navbar{
  margin-bottom: 0;
}
.navbar-header img{
  height: 40px;
  margin-right: 30px;
}



/* azure */
.contact input, .contact button{
  display: block;
  border-radius: 1px;
  margin: 20px auto;
  padding: 5px;
}
.radius{
  border-radius: 10px;
  padding: 50px;
}
.btngreen{
  background-color: green;
}
small span{
  color: blue;
}


/* Grey */
.icons li{
  display: inline-block;
}



/* white */
.space div{
  margin-top: 30px;
  margin-bottom: 30px;
}


/* Grey2 */
.imgmargin {
  margin: 30px auto;
  width: 100%;
}

/* Blue2 */
.blue ul li{
  list-style-type: none;
  margin-bottom: 5px;
}

/* white2 */
#comment{
  width: 50%;
}

/* footer */
footer i{
  margin: 10px 0
}
.inline li{
  display: inline-block;
  padding: 0 10px;
  text-align: left;
}
footer ul{
  padding-left: 0;
  list-style-type: none;
}
.block a{
  display: block;
  color: grey;
}
