.white{
  background-color: white;
}
.blue{
  background-color: #031b4e;
}
.grey{
  background-color: #cecece;
}
.azure{
  background-image: url("sfondo.jpg");
  background-size: cover;
}

.textwhite{
  color: white;
}
.textblue{
  color: #031b4e;
}
.textgrey{
  color: grey;
}
.textcenter{
  text-align: center;
}
.textazure{
  color: #81ecec;
}


section{
  padding: 100px 0;
}
.fnt16{
  font-size: 16px;
}
.bold{
  font-weight: bold;
}


/* header */
.navbar-brand span{
  background-color:#00d7d2;
  color: #0069ff;
  padding: 2px;
  border-radius: 5px;
  margin-right: 5px;
}
.navbar{
  margin-bottom: 0;
}
.navbar-header img{
  height: 40px;
  margin-right: 30px;
}



/* azure */
.col-lg-6 h1{
  font-size: 60px;
}
.contact input, .contact button{
  display: block;
  margin: 20px auto;
  width: 250px;
  padding: 5px;
  border-radius: 1px;
}
.radius{
  border-radius: 10px;
  padding: 50px;
}
.btngreen{
  background-color: green;
}
small span{
  color: blue;
}


/* Grey */
.icons li{
  padding: 0 30px;
  display: inline-block;
}
.icons li img{
  height: 60px;
}


/* white */
.space div{
  margin-top: 30px;
  margin-bottom: 30px;
}


/* Grey2 */
.imgmargin {
  margin: 30px auto;
  width: 100%;
}

/* Blue2 */
.blue ul li{
  list-style-type: none;
  margin-bottom: 5px;
}

/* white2 */
#comment{
  width: 50%;
}

/* footer */
footer i{
  margin: 10px 0
}
.inline li{
  display: inline-block;
  padding: 0 10px;
  text-align: left;
}
footer ul{
  padding-left: 0;
  list-style-type: none;
}
.block a{
  display: block;
  color: grey;
}
